html
	head 
		title my jade templateThisis
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/bootstrap-theme.min.css")
		link(rel="stylesheet" , href="css/style.css")

	body
		

		//- header
		.row.navBar
			.col-md-2.picTopicGrid 
				img(src="images/pic.jpg", alt="logo")
			.col-md-7.nameTopicGrid
				.row.h2 DSD Technology cooperate
				.row.h3 Thailand
			.col-md-3.profileGrid
				.Profile Piyawat


		
		//- side bar
		div.col-md-2
			.list-group
				a(href="#" class="list-group-item active") Master Data
				a(href="#" class="list-group-item ") Suppier
				a(href="#" class="list-group-item") Product
				a(href="#" class="list-group-item") Zone
				a(href="#" class="list-group-item") Price
				a(href="#" class="list-group-item") Purchase Order
				a(href="#" class="list-group-item") Inventory
				a(href="#" class="list-group-item") Adjust Inventory
				a(href="#" class="list-group-item") Incoming

		.col-md-10
			h2.page-header Topic name #{name}

			h2 Hello #{name}
			a(class="btn btn-primary",href='http://www.google.com')
