//- index.jade
extends ./index.jade


block title
	title Current Inventory

block style
	style.
		.space { padding: 10; }
		.label { text-align: left; }

block content_title
	p Current Inventorys

block content
	div(ng-controller="MainController")
		.row
			.col-sm-3.space PO Number:
			.col-sm-3.space
				input.form-control(type='text', placeholder='Find by PO number')
			.col-sm-2.space Order Date:
			.col-sm-3.space
				input.form-control(type='date', placeholder='Date Picker')
			.col-sm-1.space
			.col-sm-3.space Supplier Name:
			.col-md-3.space
				input.form-control(type='text', placeholder='Find by supplier name')
			.col-sm-2.space Status:
			.col-md-3.space
				select(name='product_status', value='Find by supplier name').form-control
					option(value='Status1') Status 1
					option(value='Status2') Status 2

					option(value='Status3') Status 3
					option(value='Status4') Status 4
			.col-sm-1.space
			.col-sm-7.space
			.col-sm-2.space
				button.btn.btn-primary.btn-lg.btn-block(type='button', name='search') Search
			.col-sm-2.space
				button.btn.btn-default.btn-lg.btn-block(type='button', name='clear') Clear
			.col-sm-1.space
			.col-sm-11.space
				table.product-table.table.table-striped(style="padding: 50;")
					tr
						th PO Number
						th Supplier Name
						th Order Date
						th Deliver Date
						th Status
						th Action
					tr(ng-repeat="pointer in pirates")
						td {{ pointer.name }}
						td {{ pointer.position }}
						td September 16, 2015
						td September 25, 2015
						td Open
						td [View]				
			.col-sm-1.space
		.row		
			.col-sm-7.space
			.col-sm-4.space
				a(href="SCN_PO020.html")
					button.btn.btn-primary.btn-lg.btn-block(type='button',name='supply') Create New PO
			.col-sm-1.space