//- index.jade
extends ./index.jade

block title
	title Price Detail

block style
	style.
		.space { padding: 10; }
		.label { text-align: left; }

block content_title
	p Create Price

block content
	div(ng-controller="priceController")
		.row
			.col-sm-2.space Supplier Code:*
			.col-sm-3.space
				select(ng-model="currentPrice.sp_id._id", ng-options="sp._id as sp.code for sp in supplier_list").form-control
			.col-sm-1.space
			.col-sm-2.space Supplier Name:*
			.col-sm-3.space
				select(ng-model="currentPrice.sp_id._id", ng-options="sp._id as sp.name for sp in supplier_list").form-control
			.col-sm-1.space
		.row
			.col-sm-2.space Product Code:*
			.col-sm-3.space
				select(ng-model="currentPrice.pd_id._id", ng-options="pd._id as pd.pd_id for pd in product_list").form-control

			.col-sm-1.space
			.col-sm-2.space Product Name:*
			.col-sm-3.space
				select(ng-model="currentPrice.pd_id._id", ng-options="pd._id as pd.pd_name for pd in product_list").form-control
			.col-sm-1.space
		.row
			.col-sm-2.space Minimum Order:*
			.col-sm-3.space
				input.form-control(ng-model='currentPrice.minimun_order' type='text', placeholder='Minimum Order')
			.col-sm-1.space
			.col-sm-2.space Price:*
			.col-sm-3.space 
				input.form-control(ng-model='currentPrice.pd_price' type='text', placeholder='Price')
			.col-sm-1.space
		.row
			.col-sm-2.space Effective Date:{{date.value}}
			.col-sm-3.space
				input.form-control(ng-model="date.value" type='date', placeholder='Date Picker')
			.col-sm-1.space



		.row
			.col-sm-7.space
			.col-sm-2.space
				button.btn.btn-primary.btn-lg.btn-block(type='button', name='save' ng-click="createPrice($event)") Save

			.col-sm-2.space
				a(href="SCN_PR010.html")
					button.btn.btn-default.btn-lg.btn-block(type='button', name='cancel') Cancel
			.col-sm-1.space