//- index.jade
extends ./index.jade

block title
	title Supply Product

block style
	style.
		.space { padding: 10; }
		.label { text-align: left; }

block content_title
	p Supply Product

block content

	div(ng-controller="supplyProduct")
		form(id="searchForm" action="ch")
			.row
				.col-sm-3.space Product Code:
				.col-sm-3.space
					input(keyboard-poster post-function='searchProductCode()' placeholder='Product Code' list='supplier_codes' ng-model='productSelectedCode').form-control
					datalist#supplier_codes
						datalist#sp_code
							option(ng-repeat='product in products' value='{{product.pd_id.pd_id}}')

				.col-sm-2.space Product Type:
				.col-sm-3.space
					input#disabledInput.form-control(ng-model='currentProduct.pd_id.pd_type', type='text', placeholder='Product Type', disabled='', value='{{currentProduct.pd_id.pd_type}}')
				.col-sm-1.space
				.col-sm-3.space Product Name:
				.col-md-3.space
					input(keyboard-poster post-function='searchProductName()' placeholder='Product Name' list='supplier_names' ng-model='productSelectedName').form-control
					datalist#supplier_names
						datalist#sp_names
							option(ng-repeat='product in products' value='{{product.pd_id.pd_name}}')
					//- input.form-control(ng-model='currentProduct.pd_id.pd_name', type='text', placeholder='Product Name')
				.col-sm-2.space Qty On-Hands:
				.col-md-3.space
					input#disabledInput.form-control(ng-model='currentProduct.quantity', type='text', placeholder='Qty On-Hands', disabled='')
				.col-sm-1.space
				.col-sm-3.space Zone:
				.col-md-3.space
					input#disabledInput.form-control(ng-model='currentProduct.zone_id.zone_name', type='text', placeholder='Zone', disabled='')
				.col-sm-2.space Qty Supply:
				.col-md-3.space
					input.form-control(keyboard-poster post-function='validateSupplyField()' ng-model='qty_supply', type='text', placeholder='Qty Suppl')
				.col-sm-1.space
				.col-sm-3.space Safety Stock:
				.col-md-3.space
					input#disabledInput.form-control(ng-model='currentProduct.pd_id.safety_stock', type='text', placeholder='Safety Stock', disabled='')
				.col-sm-2.space Qty remaining:
				.col-md-3.space
					input#disabledInput.form-control(type='text', placeholder='Qty remaining', disabled='' value='{{currentProduct.quantity - qty_supply}}')
				.col-sm-1.space
				.col-sm-7.space
				.col-sm-2.space
					button.btn.btn-primary.btn-lg.btn-block(type='button', ng-click='supplyProduct($event)') supply
				.col-sm-2.space
					button.btn.btn-default.btn-lg.btn-block(type='button', ng-click='goToMainPage()') Cancel
				.col-sm-1.space

