//- index.jade
extends ./index.jade


block title
	title Suppliers

block style
	style.
		.space { padding: 10; }
		.label { text-align: left; }

block content_title
	p Suppliers

block content

	script.
		function clearFunc(){
		document.getElementById("searchForm").reset();
		}

	div(ng-controller="SupplierController")
		form(id="searchForm" action="http://54.179.174.140/api/supplier/search")
			.row
			.col-sm-3.space Supplier code:
			.col-sm-3.space
				input.form-control(name='supplier_code' type='text', placeholder='Supplier code' value='' list='suplier_code')
				datalist#suplier_code
					option(value='{{supplier.code}}', ng-repeat='supplier in suppliers')

			.col-sm-2.space Supplier Name:
			.col-sm-3.space
				input.form-control(name='supplier_name' type='text', placeholder='Supplier name' value='' list='suplier_name')
				datalist#suplier_name
					option(value='{{supplier.name}}', ng-repeat='supplier in suppliers')
						
			.col-sm-1.space
			.col-sm-3.space Supplier Status:
			.col-md-3.space
				select(name='supplier_status', value='', placeholder='Product Status').form-control
					option(value='') Find by Product Status
					option(value='Status2') Status 2
					option(value='Status3') Status 3
					option(value='Status4') Status 4
			.col-sm-1.space
			.col-sm-7.space
			.col-sm-2.space
				a.btn.btn-primary.btn-lg.btn-block(type='submit', name='search', ng-click="getSuppliers()") Search
			.col-sm-2.space
				button.btn.btn-default.btn-lg.btn-block(type='button', onclick='clearFunc()', ng-click='getSuppliers()', name="clear") Clear
			.col-sm-1.space
			.col-sm-11.space

				//Product template

				a(href="http://54.179.174.140/api/supplier/{{supplier._id}}").col-sm-3.space(style="height:120px; border: 1px solid #C5C5C5; border-radius: 5px 5px;margin:10px;width:30%" 
				ng-repeat="supplier in suppliers")
					.col-sm-6.space(style="margin:-10px")
						img.productPic(ng-src="http://54.179.174.140/uploads/{{supplier.image}}",alt="Smiley face", height="100%", width="100%")
					.col-sm-6.space(style="height:100%; margin-top:-20px")
						.row
							.col-sm-12.space
								//- from angular
								div Code : {{supplier.code}}
							.col-sm-12.space
								//- from angular
								div Name : {{supplier.name}}
							.col-sm-12.space
								//- from angular
								div Status : {{supplier.status}}
				
			.col-sm-1.space
		.row		
			.col-sm-7.space
			.col-sm-4.space
				a(href="SCN_SP020.html")
					button.btn.btn-primary.btn-lg.btn-block(type='button',name='supply') Create New Supplier
			.col-sm-1.space