//- index.jade
extends ./index.jade

block title
	title Create purchase order

block style
	style.
		.space { padding: 10; }
		.label { text-align: left; }

block content_title
	p Create purchase order

block content
	div(ng-controller='SearchSupplier')
		form#supplierSearchForm
			.row
				.col-sm-3.space Supplier Code:*
				.col-sm-3.space
					input(keyboard-poster post-function='searchSupplierCode' name='supplier_code' list='supplier_codes' ng-model='supplier.spCode' id='supplier_code').form-control
					datalist#supplier_codes
						select#selectCode(name='_selectCode' ng-model='selectedSpCode' ng-options='k as v for (k,v) in SpCodes')
				.col-sm-6.space
			.row
				.col-sm-3.space Supplier Name:*
				.col-sm-3.space
					input(keyboard-poster post-function='searchSupplierName' name='supplier_name' list='supplier_names' ng-model='supplier.spName' id='supplier_name').form-control
					datalist#supplier_names
						select#selectName(name='_selectName' ng-model='selectedSpName' ng-options='k as v for (k,v) in SpNames')
				.col-sm-6.space
			.row
				.col-sm-3.space Order Date:*
				.col-sm-3.space
					input(type='date' id='datePicker' name='datePicker').form-control
					script.
						var today = new Date();
						var dd = today.getDate();
						var mm = today.getMonth()+1; //January is 0!
						var yyyy = today.getFullYear();
						if(dd<10){
							dd='0'+dd
						}
						if(mm<10){
							mm='0'+mm
						}
						var today = yyyy+'-'+mm+'-'+dd;
						document.getElementById("datePicker").value = today;
				.col-sm-6.space

		.row
			.col-sm-11.space
				table.product-table.table.table-striped(style="padding: 50;")
					tr
						th No.
						th Product Name
						th Cost
						th Qty
						th Total
						th Action
					tr
						td 1
						td product 2
						td 100.00
						td 4
						td 400.00
						td [Edit] [Delete]
					tr
						td 2
						td product 5
						td 123.00
						td 3
						td 369.00
						td [Edit] [Delete]
			.col-sm-1.space

		.row
			.col-md-10.space
			.col-md-1.space.text-right
				a(href="#SCN_PO021" data-toggle='modal', data-target='#myModal' name='addBtn' ng-click='addPdAlert()' ng-disabled="!(!!supplier.spCode || !!supplier.spName)")
					img(src="images/addBtn.png", alt="add new PO")


			// Modal
			#myModal.modal.fade(role='dialog')
				.modal-dialog
					// Modal content
					.modal-content
						.modal-header
							button.close(type='button', data-dismiss='modal') x
							h4.modal-title Please add product
						.modal-body
							form#productPriceSearchForm
								.row
									.col-md-3.space Product code :*
									.col-md-9.space
										//- input(name='product_code').form-control
										input(keyboard-poster post-function='searchProductPriceCode' name='product_code' list='product_codes' ng-model='product.pdCode' id='product_code').form-control
										datalist#product_codes
											select#selectCode(name='_selectCode' ng-model='selectedPdCode' ng-options='k as v for (k,v) in PdCodes')
								.row
									.col-md-3.space Product name :*
									.col-md-9.space
										//- input(name='product_name').form-control
										input(keyboard-poster post-function='searchProductPriceName' name='product_name' list='product_names' ng-model='product.pdName' id='product_name').form-control
										datalist#product_names
											select#selectName(name='_selectName' ng-model='selectedPdName' ng-options='k as v for (k,v) in PdNames')
								.row
									.col-md-3.space Qty :*
									.col-md-9.space
										input(keyboard-poster post-function='addProductPrice' name='product_qty' id='product_qty' value="1").form-control
								.row
									.col-md-3.space Cost :
									.col-md-9.space
										//- input(name='product_price', readonly='true', value='0.00').form-control
										input(name='product_price' list='product_prices' ng-model='product.pdPrice' id='product_price' readonly='true').form-control									
								.row.text-right(style="margin:0;")
									button.btn.btn-primary(type="submit", data-dismiss='modal') Confirm
									button.btn.btn-default(type='button', data-dismiss='modal') Close
			.col-md-1.space


		.row
			.col-md-5.space
			.col-md-2.space Total: 
			.col-md-4.space
				input(name='total' readonly='true' placeholder='0.00').form-control.text-right
			.col-md-1.space


		.row
			.col-sm-7.space
			.col-sm-2.space
				button.btn.btn-primary.btn-lg.btn-block(type='button',name='save') Save
			.col-sm-2.space
				a(href="SCN_PO010.html")
					button.btn.btn-default.btn-lg.btn-block(type='button',name='cancel') Cancel
			.col-sm-1.space