//- index.jade
extends ./index.jade

block title
	title Price

block style
	style.
		.space { padding: 10; }
		.label { text-align: left; }

block content_title
	p Price

block content
	div(ng-controller="priceController")
		div(ng-show="!hasCurrentPrice()")
			.row
				.col-sm-2.space Supplier Code:
				.col-sm-3.space
					select(name='sp_code').form-control
							option(value='') Choose Supplier Code
							option(ng-repeat="item in supplier_list",value="{{item.code}}") {{item.code}}
				.col-sm-1.space
				.col-sm-2.space Supplier Name:
				.col-sm-3.space
					select(name='sp_name').form-control
							option(value='') Choose Supplier Name
							option(ng-repeat="item in supplier_list",value="{{item.name}}") {{item.name}}
				.col-sm-1.space
			.row
				.col-sm-2.space Product Code:
				.col-sm-3.space
					select(name='pd_code').form-control
							option(value='') Choose Product Code
							option(ng-repeat="item in product_list",value="{{item.pd_id}}") {{item.pd_id}}
				.col-sm-1.space
				.col-sm-2.space Product Name:
				.col-sm-3.space
					select(name='pd_name').form-control
							option(value='') Choose Product Name
							option(ng-repeat="item in product_list",value="{{item.pd_name}}") {{item.pd_name}}
				.col-sm-1.space
			.row
				.col-sm-2.space Price Range: 
				.col-sm-3.space 
					.row
						.col-sm-5
							input.form-control(name="price_min", type='text', placeholder='from')
						.col-sm-2 -
						.col-sm-5 
							input.form-control(name="price_max", type='text', placeholder='to')
				.col-sm-1.space

				.col-sm-2.space Effective Date:
				.col-sm-3.space
					.row
						.col-sm-5
							input.form-control(name="date_from", type='date', placeholder='Date Picker')
						.col-sm-2 -
						.col-sm-5
							input.form-control(name="date_to", type='date', placeholder='Date Picker')
				.col-sm-1.space



			.row
				.col-sm-7.space
				.col-sm-2.space
					button.btn.btn-primary.btn-lg.btn-block(type='button', name='search', ng-click="searchPrice()") Search
				.col-sm-2.space
					button.btn.btn-default.btn-lg.btn-block(type='button', name='clear', ng-click="goToMainPage()") Clear
				.col-sm-1.space

			.row
				.col-sm-11.space
					table.product-table.table.table-striped(style="padding: 50;")
						tr
							th 
								span(ng-click="orderByField='sp_id.name'; reverseSort=!reverseSort") 
									|	Supplier
								span(ng-show="!reverseSort")
								span(ng-show="reverseSort")
							th 
								span(ng-click="orderByField='pd_id.pd_name'; reverseSort=!reverseSort") 
									|	Product
								span(ng-show="!reverseSort")
								span(ng-show="reverseSort")
							th 
								span(ng-click="orderByField='pd_price'; reverseSort=!reverseSort") 
									|	Price
								span(ng-show="!reverseSort")
								span(ng-show="reverseSort")
							th 
								span(ng-click="orderByField='effective_date'; reverseSort=!reverseSort") 
									|	Effective Date
								span(ng-show="!reverseSort")
								span(ng-show="reverseSort")
							th 
								span(ng-click="orderByField='minimun_order'; reverseSort=!reverseSort") 
									|	Min Order
								span(ng-show="!reverseSort")
								span(ng-show="reverseSort")
							th 
								span(ng-click="orderByField='pd_id.pd_id'; reverseSort=!reverseSort") 
									|	Action
								span(ng-show="!reverseSort")
								span(ng-show="reverseSort")

						tr(ng-repeat="pointer in filteredPR|orderBy:orderByField:reverseSort")
							td {{pointer.sp_id.name}}
							td {{pointer.pd_id.pd_name}}
							td {{pointer.pd_price}}
							td {{pointer.effective_date}}
							td {{pointer.minimun_order}}
							td 
								a(href='#', ng-click="setCurrentPrice(pointer)") [Edit]
						
				.col-sm-1.space
					
			.row
				.col-sm-11.space.text-right
					div(data-pagination="" data-num-pages="numPages()" data-current-page="currentPage" data-max-size="maxSize" data-boundary-links="true" style="margin-top:0;").pager
				.col-sm-1.space

			.row		
				.col-sm-7.space
				.col-sm-4.space
					a(href="SCN_PR020.html" ng-click="setCreate()")
						button.btn.btn-primary.btn-lg.btn-block(type='button',name='supply') Create Price PO
				.col-sm-1.space

		div(ng-show="hasCurrentPrice()")
			.row
				.col-sm-2.space Supplier Code:*
				.col-sm-3.space
					select(ng-model="currentPrice.sp_id._id", ng-options="sp._id as sp.code for sp in supplier_list").form-control
				.col-sm-1.space
				.col-sm-2.space Supplier Name:*
				.col-sm-3.space
					select(ng-model="currentPrice.sp_id._id", ng-options="sp._id as sp.name for sp in supplier_list").form-control
				.col-sm-1.space
			.row
				.col-sm-2.space Product Code:*
				.col-sm-3.space
					select(ng-model="currentPrice.pd_id._id", ng-options="pd._id as pd.pd_id for pd in product_list").form-control

				.col-sm-1.space
				.col-sm-2.space Product Name:*
				.col-sm-3.space
					select(ng-model="currentPrice.pd_id._id", ng-options="pd._id as pd.pd_name for pd in product_list").form-control
				.col-sm-1.space
			.row
				.col-sm-2.space Minimum Order:*
				.col-sm-3.space
					input.form-control(ng-model='currentPrice.minimun_order' type='text', placeholder='Minimum Order')
				.col-sm-1.space
				.col-sm-2.space Price:* 
				.col-sm-3.space 
					input.form-control(ng-model='currentPrice.pd_price' type='text', placeholder='Price')
				.col-sm-1.space
			.row
				.col-sm-2.space Effective Date:
				.col-sm-3.space
					input.form-control(ng-model="date.value" type='date', placeholder='Date Picker')
				.col-sm-1.space



			.row
				.col-sm-7.space
				.col-sm-2.space
					button.btn.btn-primary.btn-lg.btn-block(type='button', name='save' ng-click="updatePrice($event)") Save

				.col-sm-2.space
					a(href="SCN_PR010.html")
						button.btn.btn-default.btn-lg.btn-block(type='button', name='cancel') Cancel
				.col-sm-1.space
