//- index.jade
extends ./index.jade

block title
	title Current Inventory

block style
	style.
		.space { padding: 10; }
		.label { text-align: left; }

block content_title
	p Current Inventory

block content
	div(ng-controller="InventoryController")
		.row
			form(id="searchForm" action="http://54.179.174.140/api/inventory/search")
				.col-sm-3.space Zone:
				.col-sm-3.space
					select(name='zone').form-control
						option(value='') Choose Zone
						//- option(ng-repeat="pointer in inventory", value='{{pointer.zone_id.zone_id}}') {{pointer.zone_id.zone_id}}
						option(value='zn1001') zn1001
						option(value='zn1002') zn1002
				.col-sm-2.space Product Type:
				.col-sm-3.space
					select(name='product_type').form-control
						option(value='') Choose Product Type
						option(ng-repeat="pointer in inventory", value='{{pointer.pd_id.pd_type}}') {{pointer.pd_id.pd_type}}
				.col-sm-1.space
				.col-sm-3.space Product Name:
				.col-md-3.space
					input.form-control(type='text', name="product_name", placeholder='Product')
				.col-sm-2.space
					p Product Status:
				.col-md-3.space
					select(name='product_status').form-control
						option(value='') Choose Status
						//- option(ng-repeat="pointer in inventory", value='{{pointer.pd_id.pd_status}}') {{pointer.pd_id.pd_status}}
						option(value='Active') Active
						option(value='Inactive') Inactive
				.col-sm-1.space
				.col-sm-7.space
				.col-sm-2.space
					button.btn.btn-primary.btn-lg.btn-block(type='button', ng-click='getai()', name="search") Search
				.col-sm-2.space
					button.btn.btn-default.btn-lg.btn-block(type='button', onclick='clearFunc()', ng-click='getai()', name="clear") Clear
				.col-sm-1.space
				.col-sm-11.space

			script.
				function clearFunc(){
				document.getElementById("searchForm").reset();
				}	

			table.product-table.table.table-striped(style="padding: 50;")
				tr
					th Product Code
					th Product Type
					th Product Name
					th Zone
					th Qty on-Hand
					th Safety Stock
					th Status
					th Edit
					th View
				tr(ng-repeat="pointer in inventory", ng-class="{checkquant : pointer.quantity < pointer.pd_id.safety_stock}")
						td {{pointer.pd_id.pd_id}}
						td {{pointer.pd_id.pd_type}}
						td {{pointer.pd_id.pd_name}}
						td {{pointer.zone_id.zone_id}}
						td {{pointer.quantity}}
						td {{pointer.pd_id.safety_stock}}
						td {{pointer.pd_id.pd_status}}
						td 
							a(href='SCN_AI020.html')
								[Edit]
						td 
							a(href='SCN_AI030.html')
								[View]
				
				
		.col-sm-1.space
		.col-sm-7.space
		.col-sm-4.space
			a(href='SCN_AI040.html')
				button.btn.btn-primary.btn-lg.btn-block(type='button',name='supply') Supply
		.col-sm-1.space