//- index.jade
extends ./index.jade


block title
	title Suppliers

block style
	style.
		.space { padding: 10; }
		.label { text-align: left; }

block content_title
	p Create Suppliers

block content
	div(ng-controller="SupplierController")
		form(name='myForm')
			.row
				//- Left side
				.col-sm-6.space
					.row
						.col-sm-1.space
						.col-sm-5.space Code :*
						.col-sm-6.space 
							input#disabledInput(ng-model='createSupplier.code' type="text" placeholder='Supplier Code' disabled='').form-control
					.row
						.col-sm-1.space
						.col-sm-5.space Name :*
						.col-sm-6.space 
							input(ng-model='createSupplier.name' type="text" placeholder='Supplier Name' required='').form-control
					.row
						.col-sm-1.space
						.col-sm-5.space Delivery Lead Time :*
						.col-sm-6.space 
							input(ng-model='createSupplier.delivery_day' type="date" placeholder='Delivery Lead Time' required='').form-control
					.row
						.col-sm-1.space
						.col-sm-5.space Address :*
						.col-sm-6.space 
							textarea.input(ng-model='createSupplier.address' type="texta" placeholder='Delivery Lead Time' required='').form-control
					.row
						.col-sm-1.space
						.col-sm-5.space	Logo:
						.col-sm-6.space 
							//- input(type="file" file-model="myFile" onchange="angular.element(this).scope().test()").form-control
							input(type='file' id="imgInput" file-model="myFile").form-control
							br
							img(id="blah" src="images/pic.jpg" alt="logo" height="300" width="100%")
					
				//- Right side
				.col-sm-6.space
					.row
						.col-sm-1.space
						.col-sm-4.space Website :
						.col-sm-6.space 
							input(ng-model='createSupplier.website' type="text" placeholder='Supplier Website').form-control
					.row
						.col-sm-1.space
						.col-sm-4.space Phone :*
						.col-sm-6.space 
							input(ng-model='createSupplier.phone' type="text" placeholder='Supplier Phone' required='').form-control
					.row
						.col-sm-1.space
						.col-sm-4.space Fax :
						.col-sm-6.space 
							input(ng-model='createSupplier.fax' type="text" placeholder='Supplier Fax').form-control
					.row
						.col-sm-1.space
						.col-sm-4.space Sales Person Name :
						.col-sm-6.space 
							input(ng-model='createSupplier.sale_person_name' type="text" placeholder='Supplier Sale Person Name').form-control
					.row
						.col-sm-1.space
						.col-sm-4.space Sales Person Mobile :
						.col-sm-6.space 
							input(ng-model='createSupplier.sale_person_mobile' type="text" placeholder='Supplier Mobile').form-control
					.row
						.col-sm-1.space
						.col-sm-4.space Sales Person Email :
						.col-sm-6.space 
							input(ng-model='createSupplier.sale_person_email' type="email" placeholder='Supplier Email').form-control
					.row
						.col-sm-1.space
						.col-sm-4.space Status :*
						.col-sm-6.space 
							select(ng-init="createSupplier.status = options[0].value", ng-model='createSupplier.status', ng-options="option.value as option.name for option in options").form-control

					//- .row
					//- 	.col-sm-11.space
					//- 		input(type='email', name='input', ng-model='email.text', required='').form-control
					//- 		input(type='number', name='input2', ng-model='example.value', min='1', max='99', required='').form-control
					//- 		div(role='alert'  class="form-group has-success has-feedback")
					//- 			span.error(ng-show='myForm.input.$error.required') Required!
					//- 			span.error(ng-show='myForm.input.$error.email') Not valid email!
					//- 		p text = {{email.text}}
					//- 		p myForm.input.$valid = {{myForm.input.$valid && myForm.input2.$valid}}
					//- 		p myForm.input.$error = {{myForm.input.$error}}
					//- 		p myForm.$valid = {{myForm.$valid}}
					//- 		p myForm.$error.required = {{!!myForm.$error.required}}
					//- 		p myForm.$error.email = {{!!myForm.$error.email}}

			.row
					.col-sm-7.space
					.col-sm-2.space
						button.btn.btn-primary.btn-lg.btn-block(ng-click="createNewSupplier()") Create
					.col-sm-2.space
						button.btn.btn-default.btn-lg.btn-block(ng-click="goToMainPage()" type='button',name='cancel') Cancel
					.col-sm-1.space

			