//- index.jade
extends ./index.jade

block title
	title Current Inventory

block style
	style.
		.space { padding: 10; }
		.label { text-align: left; }

block content_title
	div(ng-controller="InventoryController")

		div(ng-show="!hasCurrentAI()") Current Inventory
		div(ng-show="hasCurrentAI() && !checkView()") Edit Inventory

block content
	div(ng-controller="InventoryController")
		div(ng-show="!hasCurrentAI()")
			.row
				form(id="searchForm" action="http://54.179.174.140/api/inventory/search")
					.col-sm-3.space Zone: 
					.col-sm-3.space
						select(name='zone').form-control
							option(value='') Choose Zone
							option(ng-repeat="item in zones",value="{{item.zone_id}}") {{item.zone_id}}
							//- option(value='zn1001') zn1001
							//- option(value='zn1002') zn1002
					.col-sm-2.space Product Type:
					.col-sm-3.space
						select(name='product_type').form-control
							option(value='') Choose Product Type
							option(ng-repeat="pointer in inventory", value='{{pointer.pd_id.pd_type}}') {{pointer.pd_id.pd_type}}
					.col-sm-1.space
					.col-sm-3.space Product Name:
					.col-md-3.space
						input.form-control(type='text', name="product_name", placeholder='Product')
					.col-sm-2.space
						p Product Status:
					.col-md-3.space
						select(name='product_status').form-control
							option(value='') Choose Status
							//- option(ng-repeat="pointer in inventory", value='{{pointer.pd_id.pd_status}}') {{pointer.pd_id.pd_status}}
							option(value='Active') Active
							option(value='Inactive') Inactive
					.col-sm-1.space
					.col-sm-7.space
					.col-sm-2.space
						button.btn.btn-primary.btn-lg.btn-block(type='button', ng-click='getai()', name="search") Search
					.col-sm-2.space
						button.btn.btn-default.btn-lg.btn-block(type='button', onclick='clearFunc()', ng-click='getai()', name="clear") Clear
					.col-sm-1.space
					.col-sm-11.space

				script.
					function clearFunc(){
					document.getElementById("searchForm").reset();
					}	

				table.product-table.table.table-striped(style="padding: 50;")
					thead
						tr
							th 
								span(ng-click="orderByField='pd_id.pd_id'; reverseSort=!reverseSort") 
									|	Product Code 
									span(ng-show="!reverseSort")
									span(ng-show="reverseSort")
							th 
								span(ng-click="orderByField='pd_id.pd_type'; reverseSort=!reverseSort") 
									|	Product Type 
									span(ng-show="!reverseSort")
									span(ng-show="reverseSort")
							th 
								span(ng-click="orderByField='pd_id.pd_name'; reverseSort=!reverseSort") 
									|	Product Name
									span(ng-show="!reverseSort")
									span(ng-show="reverseSort")
							th Zone
								span(ng-click="orderByField='zone_id.zone_id'; reverseSort=!reverseSort") 
									|	Zone 
									span(ng-show="!reverseSort")
									span(ng-show="reverseSort")
							th 
								span(ng-click="orderByField='quantity'; reverseSort=!reverseSort") 
									|	Qty on-Hand 
									span(ng-show="!reverseSort")
									span(ng-show="reverseSort")
							th 
								span(ng-click="orderByField='pd_id.safety_stock'; reverseSort=!reverseSort") 
									|	Safety Stock
									span(ng-show="!reverseSort")
									span(ng-show="reverseSort")
							th 
								span(ng-click="orderByField='pd_id.pd_status'; reverseSort=!reverseSort") 
									|	Status
									span(ng-show="!reverseSort")
									span(ng-show="reverseSort")
							th Edit
							th View
					tbody
						tr(ng-repeat="pointer in filteredAI|orderBy:orderByField:reverseSort", ng-class="{checkquant : pointer.quantity < pointer.pd_id.safety_stock}")
								td {{pointer.pd_id.pd_id}}
								td {{pointer.pd_id.pd_type}}
								td {{pointer.pd_id.pd_name}}
								td {{pointer.zone_id.zone_id}}
								td {{pointer.quantity}}
								td {{pointer.pd_id.safety_stock}}
								td {{pointer.pd_id.pd_status}}
								td 
									a(href="#" ng-click="setCurrentInventory(pointer); notClickView()")
										[Edit]
								td 
									a(href='#' ng-click="setCurrentInventory(pointer); clickView(); getTransaction()")
										[View]

			.row
				.col-sm-11.space.text-right
					div(data-pagination="" data-num-pages="numPages()" data-current-page="currentPage" data-max-size="maxSize" data-boundary-links="true" style="margin-top:0;").pager
				.col-sm-1.space
						
			.col-sm-1.space
			.col-sm-7.space
			.col-sm-4.space
				a(href='SCN_AI040.html')
					button.btn.btn-primary.btn-lg.btn-block(type='button',name='supply') Supply
			.col-sm-1.space

		div(ng-show="hasCurrentAI() && !checkView()")
			.row
				.col-sm-3.space Product Type:
				.col-sm-3.space
					input#disabledInput.form-control(ng-model='currentAI.pd_id.pd_type', disabled='')
				.col-sm-2.space Zone:
				.col-sm-3.space 
					select(ng-model="currentAI.zone_id._id", ng-options="zone._id as zone.zone_id for zone in zones").form-control
						
				.col-sm-1.space
				.col-sm-3.space Product Code:
				.col-md-3.space
					input#disabledInput.form-control(ng-model="currentAI.pd_id.pd_id",type='text', placeholder='Product Code', disabled='')
				.col-sm-2.space Safety Stock:
				.col-md-3.space
					input.form-control(ng-model="currentAI.pd_id.safety_stock",type='text', placeholder='Product Code', value='100')
				.col-sm-1.space
				.col-sm-3.space Product Name:
				.col-md-3.space
					input#disabledInput.form-control(ng-model="currentAI.pd_id.pd_name",type='text', placeholder='Product Name', disabled='')
				.col-sm-2.space Qty On-Hands:
				.col-md-3.space
					input.form-control(ng-model="currentAI.quantity", type='text', placeholder='Product Code' value='1000')
				.col-sm-1.space
				.col-sm-7.space
				.col-sm-2.space
					button.btn.btn-primary.btn-lg.btn-block(type='button', name='save', ng-click="updateAI($event)") Save
				.col-sm-2.space
					a(href="SCN_AI010.html")
						button.btn.btn-default.btn-lg.btn-block(type='button', name='cancel') Cancel
				.col-sm-1.space

		div(ng-show="hasCurrentAI() && checkView()")
			
			.row 
				// Begining of 1st row
				.col-sm-3.space Search by Period:
				.col-sm-3.space 
					select.form-control(name='search_by_period')
						option(value='') Choose Period
						option(value='today') today
						option(value='7days') 7days
						option(value='1month') 1month
						option(value='3months') 3months
						option(value='6months') 6months
						option(value='1year') 1year
				.col-sm-2.space Transaction Type:
				.col-sm-3.space
					select(name='search_by_type' value="test").form-control
						option(value="") Choose Type
						option(value='Receive') Receive
						option(value='Supply') Supply
				.col-sm-1.space

				// Begining of 2nd row	
				.col-sm-3.space Date From:
				.col-md-3.space
					input.form-control(name='date_from', type='date')
				.col-sm-2.space Date To:
				.col-md-3.space
					input.form-control(name='date_to', type='date')
				.col-sm-1.space

				// Begining of 3rd row	
				.col-sm-7.space
				.col-sm-2.space
					button.btn.btn-primary.btn-lg.btn-block(type='button', name='view_detail', ng-click="searchTran()") View Detail
				.col-sm-2.space
					button.btn.btn-default.btn-lg.btn-block(type='button', name='clear', ng-click="getTransaction()") Clear
				.col-sm-1.space

				// Another content block
				// Begining of 1st row
				.col-md-12
					h2.page-header Transaction Detail
				.col-sm-3.space Product Type:
				.col-sm-3.space
					input#disabledInput.form-control(ng-model='currentAI.pd_id.pd_type' name='product_type', disabled='', value="{{pointer.pd_id.pd_type}}")
				.col-sm-2.space Safety Stock:
				.col-sm-3.space
					input#disabledInput.form-control(ng-model="currentAI.pd_id.safety_stock", type='text', value='100',  disabled='')
				.col-sm-1.space

				// Begining of 2nd row	
				.col-sm-3.space Product Code:
				.col-md-3.space
					input#disabledInput.form-control(ng-model="currentAI.pd_id.pd_id", type='text', value='Product Code' disabled='')
				.col-sm-2.space Qty On-Hands:
				.col-md-3.space
					input#disabledInput.form-control(ng-model="currentAI.quantity", type='text', value='10000', disabled='')
				.col-sm-1.space

				// Begining of 3rd row	
				.col-sm-3.space Product Name:
				.col-md-3.space
					input#disabledInput.form-control(ng-model="currentAI.pd_id.pd_name", type='text', value='Product Name', disabled='')
				.col-sm-6.space

				// Begining of 4th row (table)
				.col-sm-11.space
					table.product-table.table.table-striped(style="padding: 50;")
						tr
							th Trans Date
							th Trans Type
							th Qty
							th Reference
						tr(ng-repeat="pointer in transaction")
							td {{pointer.update_date}}
							td {{pointer.movement_type}}
							td {{pointer.quantity}}
							td {{pointer.ref_po_id}}

				.col-sm-1.space
			.row
				.col-sm-9.space
				.col-sm-2.space
					a(href="SCN_AI010.html")
						button.btn.btn-default.btn-lg.btn-block(type='button', name='cancel') Cancel