//- index.jade
extends ./index.jade

block title 
	title Maintenance Product in Inventory

block style
	style.
		.space { padding: 10; }
		.label { text-align: left; }

block content_title
	p Maintenance Product in Inventory

block content
	.row
		
		.row
			.col-sm-1.space
			.col-sm-2.space Zone Type:
			.col-sm-3.space
				select(name='zone').form-control
					option(value='zone1') Zone 1
					option(value='zone2') Zone 2
					option(value='zone3') Zone 3
					option(value='zone4') Zone 4
			
		
		.row
			.col-sm-1.space
			.col-sm-2.space Zone Code:
			.col-md-3.space
				input.form-control(name='zone_code', type='text', placeholder='Zone Code', value='100')

		.row
			.col-sm-1.space
			.col-sm-2.space Zone Name:
			.col-md-3.space
				input.form-control(name='zone_name', type='text', placeholder='Zone Name' value='1000')

		.row
			.col-sm-1.space
			.col-sm-2.space Zone Desc:
			.col-md-3.space
				textarea.form-control(rows="3",name='zone_desc', placeholder='Zone Desc') Description						

		.row(style="margin-top:10px")
			.col-md-3.space
			.col-sm-2.space
				button.btn.btn-primary.btn-lg.btn-block(type='button', name='save') Save
			.col-sm-2.space
				a(href="SCN_ZN010.html")
					button.btn.btn-default.btn-lg.btn-block(type='button', name='cancel') Cancel
			.col-sm-1.space