//- index.jade
extends ./index.jade

block title
	title Supply Product

block style
	style.
		.space { padding: 10; }
		.label { text-align: left; }

block content_title
	p Supply Product

block content

	div(ng-controller="SearchSupplier")
		form(id="searchForm" action="http://54.179.174.140/api/supplier/search")
			.row
				.col-sm-3.space Product Code:
				.col-sm-3.space
					input(keyboard-poster post-function='searchSupplierCode' name='supplier_code' list='supplier_codes' ng-model='supplier.spCode' id='supplier_code').form-control
					datalist#supplier_codes
						select#selectCode(name='_selectCode' ng-model='selectedSpCode' ng-options='k as v for (k,v) in SpCodes')

				.col-sm-2.space Product Type:
				.col-sm-3.space
					input#disabledInput.form-control(name='product_type', type='text', placeholder='Product Type', disabled='')
				.col-sm-1.space
				.col-sm-3.space Product Name:
				.col-md-3.space
					input.form-control(name='product_name', type='text', placeholder='Product Name')
				.col-sm-2.space Qty On-Hands:
				.col-md-3.space
					input#disabledInput.form-control(name='qty_on-hands', type='text', placeholder='Qty On-Hands', disabled='', value='1000')
				.col-sm-1.space
				.col-sm-3.space Zone:
				.col-md-3.space
					input#disabledInput.form-control(name='zone', type='text', placeholder='Zone', disabled='')
				.col-sm-2.space Qty Supply:
				.col-md-3.space
					input.form-control(name='qty_supply', type='text', placeholder='Qty Suppl', value='100')
				.col-sm-1.space
				.col-sm-3.space Safety Stock:
				.col-md-3.space
					input#disabledInput.form-control(name='safety_stock', type='text', placeholder='Safety Stock', disabled='')
				.col-sm-2.space Qty remaining:
				.col-md-3.space
					input#disabledInput.form-control(name='qty_remaining', type='text', placeholder='Qty remaining', disabled='', value='900')
				.col-sm-1.space
				.col-sm-7.space
				.col-sm-2.space
					button.btn.btn-primary.btn-lg.btn-block(type='button', name='supply') Supply
				.col-sm-2.space
					a(href="SCN_AI010.html")
						button.btn.btn-default.btn-lg.btn-block(type='button', name='cancel') Cancel
				.col-sm-1.space