//- index.jade
extends ./index.jade


block title
	title Suppliers

block style
	style.
		.space { padding: 10; }
		.label { text-align: left; }

block content_title
	p Edit Suppliers

block content
	div(ng-controller="MainController")
		.row

			//- Left side
			.col-sm-6.space
				.row
					.col-sm-1.space
					.col-sm-5.space Code :*
					.col-sm-6.space 
						input#disabledInput(type="text" name='supplier_code' placeholder='Supplier Code',disabled='').form-control
				.row
					.col-sm-1.space
					.col-sm-5.space Name :*
					.col-sm-6.space 
						input(type="text" name='supplier_name' placeholder='Supplier Name').form-control
				.row
					.col-sm-1.space
					.col-sm-5.space Delivery Lead Time :*
					.col-sm-6.space 
						input(type="text" name='delivery' placeholder='Delivery Lead Time').form-control
				.row
					.col-sm-1.space
					.col-sm-5.space Address :*
					.col-sm-6.space 
						textarea.input(type="texta" name='address' placeholder='Delivery Lead Time').form-control
				.row
					.col-sm-1.space
					.col-sm-5.space	Logo :
					.col-sm-6.space 
						img(src="images/pic.jpg")
				.row
					.col-sm-6.space
					.col-sm-6.space
						input(type="file" name='browse').form-control
				
			//- Right side
			.col-sm-6.space
				.row
					.col-sm-1.space
					.col-sm-4.space Website :
					.col-sm-6.space 
						input(type="text" name='website' placeholder='Supplier Website').form-control
				.row
					.col-sm-1.space
					.col-sm-4.space Phone :*
					.col-sm-6.space 
						input(type="text" name='phone' placeholder='Supplier Phone').form-control
				.row
					.col-sm-1.space
					.col-sm-4.space Fax :
					.col-sm-6.space 
						input(type="text" name='fax' placeholder='Supplier Fax').form-control
				.row
					.col-sm-1.space
					.col-sm-4.space Sales Person :
					.col-sm-6.space 
						input(type="text" name='salesperson' placeholder='Supplier Sale Person').form-control
				.row
					.col-sm-1.space
					.col-sm-4.space Mobile :
					.col-sm-6.space 
						input(type="text" name='mobile' placeholder='Supplier Mobile').form-control
				.row
					.col-sm-1.space
					.col-sm-4.space Status :*
					.col-sm-6.space 
						select(name='product_status', value='status', placeholder='Product Status').form-control
							option(value='Status1') Status 1
							option(value='Status2') Status 2
							option(value='Status3') Status 3
							option(value='Status4') Status 4
			
		.row
				.col-sm-7.space
				.col-sm-2.space
					button.btn.btn-primary.btn-lg.btn-block(type='button',name='save') Save
				.col-sm-2.space
					a(href="SCN_SP010.html")
						button.btn.btn-default.btn-lg.btn-block(type='button',name='cancel') Cancel
				.col-sm-1.space

			